body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color:  #D9E6E8;
}

.container{
    background-color:  #D9E6E8;

}

.saludo-1 {
    display: flex;
    max-height: 50px;
    max-width: 100%;
}


.notificaciones {
    height: 30px;
    position: relative;
    margin-top: 10px;
    
}

.cabecera {
    background-color: #55868C;
    margin: auto;
    text-align: center;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: white;
    position: sticky;
    top:0;
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    justify-content: center;
  
}

.imagen1{
    height: 300px;
    border-radius: 1000%;
}
.principal{
    margin-top: 50px;
}
.caja1{
    
    
    box-shadow: 2px 2px 10px white;
    margin-top:20px ;
    background-color: white;
    
}

.caja1 li{
    margin: 40px;
}
.cuenta {
    
    
    box-shadow: 2px 2px 10px white;
    background-color:white;
    margin-top: 40px;

}

.cuenta li{
    margin: 40px;
}
.perfil{
    
    
    margin-top: 20px;
    background-color: white;
    text-align: center;
}




.imagen1{
    margin-top: 10px;
}

.cajas{
    text-align: center;
    
   
   
    
}

.chatbox {
    background-color: #55868C;
    float: right;
    position: sticky;
    bottom: 30px;
    right: 130px;
    border: solid black;
    
}
.cajaamigos{
    
    background-color: white;
    
    float: left;
    padding: 10px;
    margin-top: 20px;
    padding-right: 50px;
    padding-bottom: 200px;
    font-weight: bold;
    
   
}

.cajaamigos li{
    margin: 60px;
}

ul{
    list-style: none;
    padding: 20px;
    
}



.boton1boot {
    border-style: double;
    border-radius: 5px;
    position: relative;
    top: 5px;
   
}
.boton1boot:hover {
    background-color: lightslategray;
    
}
.boton2 {
    border-style: double;
    border-radius: 5px;
    ;
   
    
    
}
.boton3 {
    border-style: double;
    border-radius: 5px;
   
}
.boton2:hover {
    background-color: lightslategray;
}
.boton3:hover {
    background-color: lightslategray;
}




.boton3:active {
    background-color: rgb(rgb(207, 68, 68), green, blue);
}
.aceptar {
    background-color: #418B83;
}

.menu-btn {
    display: none;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    

}

.imagencaja1 {
    width: 30px;
    height: 30px;
    position: relative;
    top:10px;
}



nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #55868C;
    z-index: 999;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 0 20px;
    background-color: 5868;
}

.logo img {
    display: flex;
    max-height: 70px;
    max-width: 70%;
    border: solid;
    border-radius: 20px;
    border-color: white;
}

.img-header {
    display: flex;
    max-height: 50px;
    max-width: 100%;
}

.buttons img {
    max-height: 20px;
    margin: 3px;
}

.menu-btn {
    display: none;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.menu-btn:focus {
    outline: none;
}

.search-box {
    display: flex;
    align-items: center;
    width: 45%;
}

input[type="text"] {
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
    max-width: 200px;
}

button[type="submit"] {
    border-radius: 10px;
    margin: 5px;
}

.img-redrocket {
    display: flex;
    height: 100px;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .nav-container {
        flex-wrap: wrap;
    }

    /* .logo {
      order: 1;
      margin-bottom: 10px;
      
    } */

    .buttons {
        order: 3;
        width: 100%;
        flex-direction: column;
        display: none;
        /* margin-bottom: 10px; */
        /* display: flex; */
    }

    .notificaciones {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .notis ul {
        display: none;
    }

    .notis ul.open {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .notis ul.open li {
        margin: 10px 0;
    }

   
    
}
@media screen and (max-width: 992px) {
    .nav-container {
        flex-wrap: wrap;
    }

    /* .logo {
      order: 1;
      margin-bottom: 10px;
      
    } */

    .buttons {
        order: 3;
        width: 100%;
        flex-direction: column;
        display: none;
        /* margin-bottom: 10px; */
        /* display: flex; */
    }

    .notificaciones {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .notis ul {
        display: none;
    }

    .notis ul.open {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .notis ul.open li {
        margin: 10px 0;
    }

   
    
}

@media screen and (max-width: 768px) {
    .nav-container {
        flex-wrap: wrap;
    }

    /* .logo {
      order: 1;
      margin-bottom: 10px;
      
    } */

    .buttons {
        order: 3;
        width: 100%;
        flex-direction: column;
        display: none;
        /* margin-bottom: 10px; */
        /* display: flex; */
    }

    .notificaciones {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .notis ul {
        display: none;
    }

    .notis ul.open {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .notis ul.open li {
        margin: 10px 0;
    }

    .saludo-1{
        display: none;
    }
}