html,
body {
  height: 100%; 
  margin: 0px;  
}

.banner-container {
  width: 100%; 
  height: 100%; 
}

.banner-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}

/* @media only screen and (max-width: 767px)
    /* Estilos para dispositivos móviles */
 
    button {
      font-size: 12px;
      padding: 6px 12px;
    }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Estilos para tabletas */
    h1 {
      font-size: 36px;
    }
    p {
      font-size: 18px;
    }
  }
  
  @media only screen and (min-width: 992px) {
    /* Estilos para pantallas grandes */
    h1 {
      font-size: 48px;
    }
    p {
      font-size: 24px;
    }
    button {
      font-size: 16px;
      padding: 8px 16px;
    }
  }
